.admin-container {
  padding-left: 249px;
}
.admin-margin-container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 992px) {
  .admin-container {
    padding-left: 0px;
  }
}

table.highlight tbody tr:hover {
    background-color: #eee !important;
    cursor: pointer;
}

.titleUser {
  font-size: 30px;
}

@media screen and (max-width: 668px) {
  .titleUser {
    font-size: 18px;
  }
}
