$grey_ligth: #F2F3F5;
$black: #2B303B;

$secondary: #2196f3;

$primary-color: color("blue", "lighten-2") !important;
$primary-color-light: false !important;
$primary-color-dark: false !important;

$secondary-color: color("blue", "lighten-1") !default;
